html {
  background-color: white;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border: 5px solid black;
}

h1 {
  font-size: 50px;
  text-align: center;
  background-color: cyan;
  text-shadow: 5px 5px 5px black;
  color: yellow;
  margin: 0px;
  padding: 5px 5px;
}

h2 {
  font-size: 25px;
  text-align: center;
  background-color: cyan;
  margin: 5px 5px;
  padding: 5px 5px;
}

h3 {
  font-size: 20px;
  background-color: cyan;
  color: black;
  margin: 5px 5px;
  padding: 5px 5px;
}

p {
  font-size: 16px;
  background-color: white;
  margin: 5px 5px;
  padding: 5px 5px;
}