name: CI-Analyze

on:
  push:
    paths-ignore: [man/**, conf/**, README.md, LICENSE, .gitignore, rust-rudo.spec]
  pull_request:
    paths-ignore: [man/**, conf/**, README.md, LICENSE, .gitignore, rust-rudo.spec]

env:
  CARGO_TERM_COLOR: always

jobs:
  code-analyze:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-20.04, macos-10.15 ]

    steps:
      - uses: actions/checkout@v2
      - name: Install dependency
        if: matrix.os == 'ubuntu-20.04'
        run: sudo apt install libpam0g-dev libsystemd-dev syslog-ng
      - name: cargo clippy ubuntu
        if: matrix.os == 'ubuntu-20.04'
        run: cargo clippy --release --all-features --verbose
      - name: cargo clippy macos
        if: matrix.os == 'macos-10.15'
        run: cargo clippy --release --all-features --verbose
        #- uses: actions-rs/clippy-check@v1
        #with:
        #token: ${{ secrets.GITHUB_TOKEN }}
        #args: --all-features --all-targets --verbose
