name: CI-Analyze

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  code-analyze:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-features --verbose
