name: CI

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"
  # Emit backtraces on panics.
  RUST_BACKTRACE: full

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust: [1.43, stable, beta, nightly]
        os: [ubuntu-20.04, macos-10.15]

    steps:
    - uses: actions/checkout@v2
    - name: Update CI
      if: matrix.os == 'ubuntu-20.04'
      run: sudo apt update
    - name: Install dependency
      if: matrix.os == 'ubuntu-20.04'
      run: sudo apt install libpam0g-dev libsystemd-dev
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
    - name: Run cargo build
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release --all-targets --all-features --verbose
    - name: Run cargo tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all-targets --all-features --verbose
    
