name: Codecov

on:
  push:
    paths-ignore: [man/**, conf/**, README.md, LICENSE, .gitignore, rust-rudo.spec]
  pull_request:
    paths-ignore: [man/**, conf/**, README.md, LICENSE, .gitignore, rust-rudo.spec]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: codecov/codecov-action@v1
        with:
          verbose: true
