name: Security audit

on:
  push:
    paths: [Cargo.lock, Cargo.toml]
  pull_request:
    paths: [Cargo.lock, Cargo.toml]
  schedule:
  - cron: "0 2 * * 1-5"

env:
  CARGO_TERM_COLOR: always

jobs:
  security-audit:

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
